{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
    <div class="col-lg-3">
        <img src="{{ film.plakat.url }}" alt="{{ film.nazev }}" class="img-fluid">
    </div>
    <div class="col-lg-9">
        <h2>{{ film.nazev }}</h2>
        <p>
            {% for reziser in film.reziseri.all %}
            <a href="{% url 'reziser_detail' reziser.pk %}" class="badge badge-info">{{ reziser.jmeno }} {{ reziser.prijmeni }}</a>
            {% endfor %}
        </p>
        <p>{{ film.obsah }}</p>
        <table class="table">
            <tr>
                <th>Rok vydání:</th>
                <td>{{ film.rok_vydani }}</td>
            </tr>
            <tr>
                <th>Délka:</th>
                <td>{{ film.delka }} min</td>
            </tr>
            <tr>
                <th>Žánry:</th>
                <td>
                    {% for zanr in film.zanry.all %}
                    <span class="badge badge-secondary">{{ zanr.nazev }}</span>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% if film.recenze_set.all %}
<div class="row mt-4">
    <div class="col-12">
        <h3>Recenze</h3>
        {% for recenze in film.recenze_set.all %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ recenze.recenzent.get_full_name|default:recenze.recenzent.username }}
                    <small class="text-muted">{{ recenze.upraveno|date:"j. n. Y H:i" }}</small>
                </h5>
                <p class="card-text">{{ recenze.text }}</p>
                <p class="card-text">
                    <small class="text-warning">
                        {% for i in ""|ljust:recenze.hodnoceni %}&#9733;{% endfor %}
                    </small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %} 